body{
    background-size: cover;
    font-family: 'Dancing Script',cursive;
    background-position: center;
}
.heading
{
font-size:40px;
width: 100%;
margin: 0px;
}

.a{
    font-size: 25px;
    margin-top: 20;
    
}